<section>
        <div class="flex justify-center items-center h-screen">
            <div class="bg-white p-8 rounded-lg shadow-md text-center">
                <h2>Parabéns, Seu cadastro foi concluído com sucesso</h2>
                <h3>Enviamos um email para validação de seu login, por favor acessar e confirmar o link que foi recebido</h3>
                <h4 class="mt-5"><a href="/" class="hover:underline text-blue-600 ">Voltar para tela inicial ?</a></h4>
            </div>
        </div>
</section>


