<div class="max-w-3xl w-full mx-auto pt-6 pb-24 px-3 md:px-0">
    <p class="tracking-tighter text-2xl font-bold">Seja um parceiro NOW</p>
    <p class="tracking-tight text-lg text-gray-700 border-b mb-6 pb-3">Preencha o formulário abaixo e entraremos em contato</p>
    <div class="mb-6">
        <p class="font-bold tracking-tighter text-lg text-gray-900 mb-3">2. Quantos eventos produz por ano?</p>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-3">
            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <input type="radio" id="opcao1" name="escolha" class="hidden" />
                <label for="opcao1" class="">Agência/empresa de eventos</label>
            </div>

            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <input type="radio" id="opcao2" name="escolha" class="hidden" />
                <label for="opcao2" class="">Produtor de eventos</label>
            </div>

            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <input type="radio" id="opcao2" name="escolha" class="hidden" />
                <label for="opcao2" class="">Entidade acadêmica</label>
            </div>
            
            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <input type="radio" id="opcao2" name="escolha" class="hidden" />
                <label for="opcao2" class="">Outros</label>
            </div>
        </div>
    </div>
    <div class="mb-6">
        <p class="font-bold tracking-tighter text-lg text-gray-900 mb-3">2. Quantos eventos produz por ano?</p>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-3">
            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">1 evento</p>
            </div>

            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">2-5 eventos</p>
            </div>

            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">6-10 eventos</p>
            </div>
            
            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">Mais de 10 eventos</p>
            </div>
        </div>
    </div>
    <div class="mb-6">
        <p class="font-bold tracking-tighter text-lg text-gray-900">3. Quais tipos de evento você produz?</p>
        <p class="text-gray-500 mb-3 text-sm">Selecione uma ou mais opções</p>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">Festas e shows ao vivo</p>
            </div>

            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">Eventos corporativos</p>
            </div>

            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">Festivais</p>
            </div>
            
            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">Festas universitárias</p>
            </div>
            
            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">Eventos culturais e gastronômicos</p>
            </div>
            
            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">Peças teatrais, shows de humor ou cinema</p>
            </div>
                        
            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">Outros tipos de eventos</p>
            </div>
        </div>
    </div>
    <div class="mb-6">
        <p class="font-bold tracking-tighter text-lg text-gray-900 mb-3">4. Quanto seus eventos faturam, somados, anualmente?</p>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">Até R$10.000</p>
            </div>
                    
            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">R$10.001 - R$100.000</p>
            </div>

            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">R$50.001 - R$250.000</p>
            </div>

            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">R$250.001 - R$1.000.000</p>
            </div>

            <div class="border rounded-lg px-6 py-5 text-center cursor-pointer hover:border-blue-500">
                <p class="text-sm ">Mais de 1 milhão</p>
            </div>
        </div>
    </div>
    <div class="mb-3"><p class="font-bold tracking-tighter text-lg text-gray-900 mb-3">Informações para contato</p>
        <div class="grid md:grid-cols-2 gap-3 mb-3">
            <div class="flex flex-col w-full">
                <div class="box-hover shadow-sm outline outline-transparent relative border rounded focus-within:border-blue-500 null">
                    <input class="block p-4 w-full text-lg appearance-none focus:outline-none bg-transparent null " placeholder=" " label="Nome e sobrenome" value="">
                    <label class="absolute top-0 text-md text-gray-600 bg-white p-4 pointer-events-none duration-300 origin-0">Nome e sobrenome</label>
                </div>
                <div class="flex text-xs text-red-500">                        
                </div>
            </div>
            <div class="flex flex-col w-full">
                <div class="box-hover shadow-sm outline outline-transparent relative border rounded focus-within:border-blue-500 null">
                    <input class="block p-4 w-full text-lg appearance-none focus:outline-none bg-transparent null " placeholder=" " label="Nome da Empresa (opcional)" value="">
                    <label class="absolute top-0 text-md text-gray-600 bg-white p-4 pointer-events-none duration-300 origin-0">Nome da Empresa (opcional)</label>
                </div>
                <div class="flex text-xs text-red-500"></div>
            </div>
            <div class="flex flex-col w-full">
                <div class="box-hover shadow-sm outline outline-transparent relative border rounded focus-within:border-blue-500 null">
                    <input class="block p-4 w-full text-lg appearance-none focus:outline-none bg-transparent null " placeholder=" " label="Email" value="">
                    <label class="absolute top-0 text-md text-gray-600 bg-white p-4 pointer-events-none duration-300 origin-0">Email</label>
                </div>
                <div class="flex text-xs text-red-500">

                </div>
            </div>
            <div class="flex flex-col w-full">
                <div class="box-hover shadow-sm outline outline-transparent relative border rounded focus-within:border-blue-500 null">
                    <input class="block p-4 w-full text-lg appearance-none focus:outline-none bg-transparent null " placeholder=" " label="Telefone" value="">
                    <label class="absolute top-0 text-md text-gray-600 bg-white p-4 pointer-events-none duration-300 origin-0">Telefone</label>
                </div>
                <div class="flex text-xs text-red-500"></div>
                </div>
        </div>
        <div class="flex flex-col w-full">
            <div class="box-hover shadow-sm outline outline-transparent relative border rounded focus-within:border-blue-500 null">
                <input class="block p-4 w-full text-lg appearance-none focus:outline-none bg-transparent null " placeholder=" " label="Site/Rede social" value="">
                <label class="absolute top-0 text-md text-gray-600 bg-white p-4 pointer-events-none duration-300 origin-0">Site/Rede social</label>
            </div>
            <div class="flex text-xs text-red-500">

            </div>
        </div>
    </div>
    <div class="mb-6">
        <div class="w-full border shadow-sm box-hover rounded p-4 flex items-center space-x-3 cursor-pointer">
            <input type="checkbox" class="p-0 m-0">
                <span>Podemos entrar em contato via Whatsapp?</span>
        </div>
    </div>
    <div class="mb-6">
        <p class="font-bold tracking-tighter text-lg text-gray-900 mb-3">Conte mais um pouco sobre você ou envie-nos uma mensagem</p>
        <textarea class="border w-full h-48"></textarea>
    </div>
    <div class="flex items-end justify-end">
        <button type="button" class="w-36    btn-primary hover:text-blue-600 shadow-lg rounded-full">Enviar formulário</button>
    </div>
</div>